<?xml version="1.0"?>
<!-- Launch file for the Slocum Glider Mission Controller. -->
<launch>
  <param name="/use_sim_time" value="true" />
  <arg name="glider_name" doc="Name of the glider." default="glider" />
  <!-- Launch the mission controller. -->
  <group ns="$(arg glider_name)">
    <node name="slocum_glider_mission_controller" pkg="slocum_glider_mission_controller" type="mission_controller"
          respawn="true" output="screen" >
    </node>
  </group>
</launch>
