<!-- Launch file for the Slocum Glider Serial<->ROS interface. -->
<launch>
    <arg name="extctl_file" doc="path to extctl.ini file listing the sensors being reported and controlled." />
    <arg name="serial_port" doc="Serial port designator." />

    <!-- Launch the serial interface. -->
    <node name="glider_serial_backseat_interface" pkg="slocum_ros_backseat" type="serial_backseat_interface"
          respawn="true" >
        <param name="extctl" textfile="$(arg extctl_file)" />
        <param name="serial_port" value="$(arg serial_port)" />
    </node>
</launch>
